.btnAni {
  transition: transform 0.3s ease-in-out;
}

.btnAni:hover {
  transform: scale(1.1);
}

.bgDark {
  background-image: url("../../assets/images/ingredients-light.png");
}

.bgLight {
  background-image: url("../../assets/images/ingredients-dark.png");
}
