.div {
  background-repeat: no-repeat;
  bottom: 1px;
  cursor: pointer;
  padding-inline: 0.75rem;
  top: -0.75rem;
  left: 0.5rem;
}

@media (max-width: 550px) {
  .label:hover {
    transform: scale(1);
    font-size: 1rem;
  }
}

.label {
  cursor: pointer;
  position: absolute;
  padding-left: 1.5rem;
}

.label:hover {
  color: #fb7a1e;
}

.label::before {
  content: "";
  background: url(../../assets/images/chevron.svg) no-repeat;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.invertColor {
  filter: invert(100%);
}

.invertColor:hover {
  color: rgb(4, 133, 225) !important;
}

.imgRotate {
  transform: rotate(90deg);
}

.bgDiv {
  position: relative;
  z-index: 3333;
}

.bgDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.8);
}
